<div class= "bj">
<body>

  <div class="row">

      <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper For Slides -->
            <div class="carousel-inner" role="listbox">

                <!-- Third Slide -->
                <div class="item active">

                    <!-- Slide Background -->
                    <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fesd49xuxij30dc08v3z2.jpg"
                    <class="slide-image"/>
                    <div class="bs-slider-overlay"></div>

                    <div class="container">
                        <div class="row">
                            <!-- Slide Text Layer -->
                            <div class="slide-text slide_style_left">
                              <h1 data-animation="animated zoomInRight"><i class="fa fa-heartbeat" aria-hidden="true">ijob</i></h1>
                                <p data-animation="animated fadeInLeft">爱job</p>
                                <p data-animation="animated fadeInLeft">i工作</p>
                                <!--<a class="btn btn-default" href="/jobs/new">发布工作</a>-->
                                <a class="btn btn-primary" href="/jobs">应聘工作</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Second Slide -->
                <div class="item">

                    <!-- Slide Background -->
                    <img src="https://ww1.sinaimg.cn/large/006tKfTcgy1fesfg418ufj30dc08vah3.jpg"
                    class="slide-image"/>
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_left">
                        <h1 data-animation="animated zoomInRight"><i class="fa fa-heartbeat" aria-hidden="true">ijob</i></h1>
                        <p data-animation="animated fadeInLeft">为找工作</p>
                        <p data-animation="animated fadeInLeft">而生</p>
                        <!--<a class="btn btn-default" href="/jobs/new">发布工作</a>-->
                        <a class="btn btn-primary" href="/jobs">应聘工作</a>
                    </div>
                    <!--
                    <div class="slide-text slide_style_center">
                        <h1 data-animation="animated flipInX">奇妙工作网</h1>
                        <p data-animation="animated lightSpeedIn">不想干、干不好、没空干的活，统统扔出来！</p>
                        <p data-animation="animated lightSpeedIn">上万名达人，妥妥帮你解决！</p>
                         <a class="btn btn-default" href="/jobs/new">发布工作</a>
                        <a class="btn btn-primary" href="/jobs">浏览达人</a>
                    </div>
                  -->
                </div>
                <!-- End of Slide -->

                <!-- Third Slide -->
                <div class="item">

                    <!-- Slide Background -->
                    <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fesd48x5dkj30dc08vmy7.jpg"
                     class="slide-image"/>


                    <div class="bs-slider-overlay"></div>
                    <div class="slide-text slide_style_left">
                      <h1 data-animation="animated zoomInRight"><i class="fa fa-heartbeat" aria-hidden="true">ijob</i></h1>
                        <p data-animation="animated fadeInLeft">我就是</p>
                        <p data-animation="animated fadeInLeft">你想要的</p>
                        <!--<a class="btn btn-default" href="/jobs/new">发布工作</a>-->
                        <a class="btn btn-primary" href="/jobs">应聘工作</a>
                    </div>
                    <!--
                    <div class="slide-text slide_style_right">
                        <h1 data-animation="animated zoomInLeft">奇妙工作网</h1>
                        <p data-animation="animated fadeInRight">那么多工作，需要你的技能</p>
                        <p data-animation="animated fadeInRight">付出时间、付出技能、我们帮你变成钱</p>
                        <a class="btn btn-default" href="/jobs">浏览工作</a>
                        <a class="btn btn-primary" href="/jobs">应聘工作</a>
                    </div>

                  -->
                </div>
                <!-- End of Slide -->




            </div><!-- End of Wrapper For Slides -->

            <!-- Left Control -->
            <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <!-- Right Control -->
            <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div> <!-- End  bootstrap-touch-slider Slider -->
      </div>
    </body>



<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">锻炼能力</h2>
        <p class="lead">成为一出手就能解决问题的多面手</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag "http://ww2.sinaimg.cn/large/006tNbRwgy1fevg05tv12j30m80i5h1t.jpg", class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">冥思坐享</h2>
        <p class="lead">有我们陪着你并不孤独<a target="_blank"
          href="http://blog.niclin.tw"></a></p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag "http://ww4.sinaimg.cn/large/006tNbRwgy1fevfzzzhgvj30m80i5gvh.jpg",
        class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">赢得喝彩</h2>
        <p class="lead">和战友一起走上人生巅峰</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag "http://ww4.sinaimg.cn/large/006tNbRwgy1fevj6n3eg1j30bp08s3zq.jpg",
         class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>




    <section id="company">
    <div class = "container-fluid">
      <div class="row">

        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1fewnugqmzwj302w03kdft.jpg"
            alt="search" class = "img-thumbnail">
            <div class="caption">
              <h3>我在这里</h3>
            </div>
          </div>
        </div>

        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://ww2.sinaimg.cn/large/006tNbRwgy1fewnugeyi8j303k03kt8s.jpg"
             alt="heart" class = "img-thumbnail">
            <div class="caption">
              <h3>钥匙在这里</h3>
            </div>
          </div>
        </div>

        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://ww2.sinaimg.cn/large/006tNbRwgy1fewnug2j04j303k03k3yj.jpg"
            alt="bid" class = "img-thumbnail">
            <div class="caption">
              <h3>你还在寻找什么？</h3>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

<div class="dibusongmac">
  <div class="row">
  <p>赠送 Cherry 机械键盘庆祝你开始非凡新旅程</p>
    <img scr="http://ww3.sinaimg.cn/large/006tNbRwgy1fewlgkbuhnj31jk16owv8.jpg"
    class="slide-image"/>
  </div>
</div>
</div>
</div>
