<div class="panel panel_default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-2">
        <h3 class="panel-title">
          <%= resume.user.email %>
        </h3>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="tris-content">
      <p><%= simple_format(resume.content) %></p>
    </div>
    <hr>
    <% if resume.attachment.present? %>
    <i class="fa fa-paperclip"></i>
    <%= link_to("download resume", resume.attachment_url) %>
    <% else %>
    no attachment
    <% end %>
  </div>
</div>
